<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="email" value=""/>
        <add key="password" value=""/>
        <add key="cursorMoveDuration" value="300"/>
        <add key="averageTimeToLoadCluster" value="4000"/>
        <add key="networkPorts" value="5056,5055,4535"/>
        <add key="reachedWaypointDistance" value="4.0"/>
    </appSettings>
</configuration>