<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="log" xsi:type="File" fileName="logs/oryxbot.log" archiveFileName="logs/archive/oryxbot.{#}.log" archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyy-MM-dd" archiveOldFileOnStartup="true" maxArchiveFiles="15" layout="${longdate} | ${level} | ${message}"/>
        </targets>

        <rules>
            <logger name="*" minlevel="Info" writeTo="logconsole"/>
            <logger name="log" minlevel="Debug" writeTo="log"/>
        </rules>
    </nlog>
</configuration>