<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">

    <targets async="true">
        <target name="log" xsi:type="File" fileName="logs/oryxbot.log" archiveFileName="logs/archive/oryxbot.{#}.log"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyy-MM-dd" archiveOldFileOnStartup="true" maxArchiveFiles="15"
                layout="${longdate} | ${level} | ${message}"/>
        <target name="networkevent" xsi:type="File" fileName="logs/network-events.log"
                archiveFileName="logs/archive/network-events.{#}.log" archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyy-MM-dd" archiveOldFileOnStartup="true" maxArchiveFiles="15"
                layout="${longdate} | ${level} | ${message}"/>
        <target name="networkrequest" xsi:type="File" fileName="logs/network-requests.log"
                archiveFileName="logs/archive/network-requests.{#}.log" archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyy-MM-dd" archiveOldFileOnStartup="true" maxArchiveFiles="15"
                layout="${longdate} | ${level} | ${message}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole"/>
        <logger name="log" minlevel="Debug" writeTo="log"/>
        <logger name="networkevent" minlevel="Debug" writeTo="networkevent"/>
        <logger name="networkrequest" minlevel="Debug" writeTo="networkrequest"/>
    </rules>
</nlog>